# TMDB Configuration
TMDB_API_KEY=802b0a2eb79dfadab6ab685d94e91169
TMDB_READ_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI4MDJiMGEyZWI3OWRmYWRhYjZhYjY4NWQ5NGU5MTE2OSIsIm5iZiI6MTc0MTg5NDQwNy45MzcsInN1YiI6IjY3ZDMzMzA3NzA1ZDY4MzExNzNlMDk3OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.T9CVIrNGGEzPKqbV25hDv-pMhBBAk1meLRi-HVA9QhQ

# MongoDB Configuration
MONGODB_URL=mongodb+srv://shashankdommeti524_db_user:RXIykmGS9BoSTK9U@review.jrtglai.mongodb.net/?appName=review
DATABASE_NAME=critics_temple

# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_PATH=review-3acab-firebase-adminsdk-fbsvc-201483b04d.json

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dpqwvunw4
CLOUDINARY_API_KEY=944182656972363
CLOUDINARY_API_SECRET=9SJW4Iev-jreLcmND6QmMaumCrI

# App Secret
SECRET_KEY=yoursecretkeyhere
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

GEMINI_API_KEY=AIzaSyBSbl8glUQvgNtOFzI1bEb71mbzz6GrnI0
